html,
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Outfit', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
}

header {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #0F292F 50%, rgba(20, 160, 152, 0) 155%);
}

#headertitle {
    position: absolute;
    width: 255px;
    height: 80px;
    left: 3%;
    top: 0px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 200px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#rightheader {
    position: absolute;
    width: 40%;
    max-width: 80%;
    height: 90px;
    right: 1%;
    top: 0px;

    display: flex;
    align-items: center;
    gap: 10px
}

#rightheader>div {
    flex-grow: 1;
    align-items: center;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;

    color: #FFFFFF;
    cursor: pointer;
}

#imgtop {
    position: absolute;
    width: 105%;
    height: 101%;
    left: -2%;
    top: 0px;
    z-index: -1;

    background: url(assets/game-development-academy-esports-player\ 1.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    filter: hue-rotate(20deg) saturate(70%) blur(8px) brightness(60%);
}

#bannertitle {
    position: absolute;
    width: 100%;
    height: 266px;
    left: 0px;
    top: 300px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 120px;

    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#bannersubtitle {
    position: absolute;
    width: 100%;
    height: 123px;
    left: 0;
    top: 541px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 80px;

    align-items: center;
    text-align: center;

    color: #F3F3F3;
}

#bannerbuttons {
    position: absolute;
    width: 20%;
    top: 700px;
    left: calc(40%);
    display: flex;
    gap: 20px;
    align-items: center;


}

#registerbutton {
    box-sizing: border-box;

    flex-grow: 1;

    background: #0F292F;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    line-height: 71px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
}

#signinbutton {
    box-sizing: border-box;

    flex-grow: 1;

    background: #501F3A;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    line-height: 71px;
    align-items: center;
    text-align: center;

    color: #ffffff;

    cursor: pointer;
}

#imgbottom {
    position: absolute;
    width: 105%;
    height: 101%;
    left: -2%;
    top: 100%;
    z-index: -1;

    background: url(assets/esports-stocks\ 1.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    filter: hue-rotate(20deg) saturate(70%) blur(8px) brightness(60%);
}

#title2 {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0;
    top: 110%;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 100px;

    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#gamescarousel {
    position: absolute;
    width: 80%;
    height: 430px;
    left: 10%;
    top: 121%;

    display: flex;
    gap: 20px;
}

#gamescarousel>.card {
    flex-grow: 1;
    position: relative;
    border-radius: 8px;
}

.logo {
    position: absolute;
    width: 25%;
    height: 25%;
    left: 8%;
    top: 10%;
    box-sizing: border-box;
}

.card:nth-child(1)>.logo {
    background: url(assets/valologo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.card:nth-child(2)>.logo {
    background: url(assets/apexlogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.card:nth-child(3)>.logo {
    background: url(assets/dota2logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.cardimage {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    filter: brightness(40%) saturate(60%) blur(2px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.85);
}

.card:nth-child(1)>.cardimage {
    background: url(assets/valorantcard.jpg);
    background-size: cover;
    background-position: center;
}

.card:nth-child(2)>.cardimage {
    background: url(assets/apexcard.jpg);
    background-size: cover;
    background-position: center;
}

.card:nth-child(3)>.cardimage {
    background: url(assets/dota2card.jpg);
    background-size: cover;
    background-position: center;
}

.card>.label {
    position: absolute;
    left: 8%;
    top: 35%;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 100px;

    align-items: center;

    color: #FFFFFF;
}

.playbutton {
    box-sizing: border-box;

    position: absolute;
    width: 120px;
    height: 40px;
    left: 8%;
    top: 60%;

    background: #0F292F;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;

    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#moregamesbutton {

    position: absolute;
    width: 180px;
    height: 40px;
    top: 160%;
    left: calc(50% - 200px/2 + 2.5px);

    background: #501f3aec;
    border: 0.5px solid #ffffff60;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;

    align-items: center;
    text-align: center;
    margin: auto;

    color: #ffffffb7;
}

#stickybottom {

    position: fixed;
    width: 100%;
    height: 138px;
    left: 0px;
    bottom: 0;

    pointer-events: none;

    background: linear-gradient(360deg, rgba(137, 233, 105, 0.137) 3.95%, rgba(51, 152, 209, 0) 100%);
}

/* register.html */
#registerbox {
    position: absolute;
    left: 33.61%;
    right: 33.61%;
    top: 15%;

    background: #EFEFEF;
    mix-blend-mode: normal;
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    padding: 10px 30px 30px 30px;
    overflow: hidden;
}

#registerbox>* {
    flex-grow: 1;
    overflow: hidden;
}

#registertitle {

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;

    color: #000000;
}

.inputbox {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.inputbox>.label {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #575757;
    margin: 0;
    padding: 0;
    flex-grow: 0;
}

.inputbox>input {
    box-sizing: border-box;
    flex-grow: 1;
    background: #FFFFFF;

    border: 2px solid #AAAAAA;
    border-radius: 4px;
    min-height: 40px;
}

#registersubmit {
    box-sizing: border-box;
    flex-grow: 0;
    height: 60px;
    margin: 15px 0 20px 0;

    background: #00A02D;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    line-height: 55px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#alreadyaccount {
    flex-grow: 0;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    text-align: center;

    color: #000000;
}

/* signin.html */

#signinsubmit {
    box-sizing: border-box;
    flex-grow: 0;
    height: 60px;
    margin: 15px 0 20px 0;

    background: #00A02D;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    line-height: 55px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#noaccount {
    flex-grow: 0;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    text-align: center;

    color: #000000;
}


#custombg {
    position: absolute;
    width: 105%;
    height: 105%;
    left: -2%;
    
    z-index: -1;

    background: linear-gradient(180deg, #2C2F33 0%, #CB2D6F 210.74%);
    background-blend-mode: overlay;
    background-size: cover;
}

#profilebg {
    position: absolute;
    width: 435px;
    height: 850px;
    left: 188px;
    top: 124px;

    background: linear-gradient(180deg, #080525 23.96%, #2B2847 100%);
    border-radius: 34px;
}

#profilecover {
    position: absolute;
    width: 100%;
    height: 215px;

    background: linear-gradient(180deg, #002A3C 0%, #005E86 100%);
    background-size: cover;
    background-position: center;
    border-radius: 34px;
}

#profilepic {
    position: absolute;
    left: 30%;
    top: 12%;
    
    background-size: cover;
    background-position: center;
    border-radius: 84px;
}

#profilename {
    position: absolute;
    left: 30%;
    top: 30%;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 80px;

    align-items: center;
    text-align: center;
    
    color: #FFFFFF;    
}

#profiletext {
    position: absolute;
    width: 100%;
    top: 35%;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;

    text-align: center;

    color: #FFFFFF;
}

#addfriend {
    position: absolute;
    width: 180px;
    height: 45px;
    left: 216px;
    top: 850px;

    box-sizing: border-box;
    flex-grow: 1;

    background: #44AA15;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    line-height: 45px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
}

#message {
    position: absolute;
    width: 180px;
    height: 45px;
    left: 427px;
    top: 850px;

    box-sizing: border-box;
    flex-grow: 1;

    background: #2584B9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;

    align-items: center;
    text-align: center;

    color: #ffffff;

    cursor: pointer;
}

#profilegame {
    position: absolute;
    width: 615px;
    height: 486px;
    left: 639px;
    top: 124px;
    
    background: linear-gradient(180deg, #080525 23.96%, #2B2847 100%);
    border-radius: 34px;
}

#profilegamename {
    position: absolute;
    width: 372px;
    height: 36px;
    left: 681px;
    top: 160px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;

    color: #FFFFFF;
}

#valogamephoto {
    position: absolute;
    width: 198px;
    height: 319.2px;
    left: 684px;
    top: 227px;

    background: url(assets/516575-285x380.jpg);
    background-size: cover;
    border-radius: 10px;
}

#apexgamephoto {
    position: absolute;
    width: 198px;
    height: 319.2px;
    left: 684px;
    top: 227px;

    background: url(assets/apex.jpg);
    background-size: cover;
    border-radius: 10px;
}

#dotagamephoto {
    position: absolute;
    width: 198px;
    height: 319.2px;
    left: 684px;
    top: 227px;

    background: url(assets/dota2card.jpg);
    background-size: cover;
    border-radius: 10px;
}

#lolgamephoto {
    position: absolute;
    width: 198px;
    height: 319.2px;
    left: 684px;
    top: 227px;

    background: url(assets/lol.jpg);
    background-size: cover;
    border-radius: 10px;
}

#mlbbgamephoto {
    position: absolute;
    width: 198px;
    height: 319.2px;
    left: 684px;
    top: 227px;

    background: url(assets/mlbb.jpg);
    background-size: cover;
    border-radius: 10px;
}

#pokegamephoto {
    position: absolute;
    width: 198px;
    height: 319.2px;
    left: 684px;
    top: 227px;

    background: url(assets/pkmn.jpg);
    background-size: cover;
    border-radius: 10px;
}

#csgogamephoto {
    position: absolute;
    width: 198px;
    height: 319.2px;
    left: 684px;
    top: 227px;

    background: url(assets/csgo.jpg);
    background-size: cover;
    border-radius: 10px;
}

#wofwgamephoto {
    position: absolute;
    width: 198px;
    height: 319.2px;
    left: 684px;
    top: 227px;

    background: url(assets/wow.jpg);
    background-size: cover;
    border-radius: 10px;
}

#usernamerank {
    position: absolute;
    width: 288px;
    height: 120px;
    left: 924px;
    top: 227.2px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 50px;

    color: #FFFFFF;
}

#userdesc {
    position: absolute;
    width: 301px;
    height: 250.8px;
    left: 924px;
    top: 359.2px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #D1D1D1;
}

#settingsbutton {
    position: absolute;
    width: 110px;
    top: 20px;     
    left: calc(5%);
    display: flex;
    gap: 20px;
    
    box-sizing: border-box;
    flex-grow: 1;

    background: #606060;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;

    line-height: 45px;

    color: #FFFFFF;

    cursor: pointer;
}

#profilebuttons {
    position: absolute;
    width: 80%;
    top: 65%;     
    left: calc(10%);
    display: flex;
    gap: 20px;
    align-items: center;
}

#moregamesbg {
    position: absolute;
    width: 615px;
    height: 300px;
    left: 643px;
    top: 632px;

    background: linear-gradient(180deg, #080525 23.96%, #2B2847 100%);
    border-radius: 34px;
}

#gamephoto {
    position: absolute;
    width: 97px;
    height: 144px;
    left: 669px;
    top: 697px;

    background: url(assets/valorant.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#gamephoto1 {
    position: absolute;
    width: 96px;
    height: 144px;
    left: 786px;
    top: 697px;

    background: url(assets/apex.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#gamephoto2 {
    position: absolute;
    width: 97px;
    height: 144px;
    left: 901px;
    top: 697px;
    background: url(assets/csgo.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#gamephoto3 {
    position: absolute;
    width: 97px;
    height: 144px;
    left: 1018px;
    top: 697px;

    background: url(assets/fortnite.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#gamephoto4 {
    position: absolute;
    width: 97px;
    height: 144px;
    left: 1135px;
    top: 697px;
    background: url(assets/lol.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#moregames {
    position: absolute;
    width: 266px;
    height: 36px;
    left: 680px;
    top: 647px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

/* edit_profile.html */

#editbg {
    position: absolute;
    width: 435px;
    height: 790px;
    left: 503px;
    top: 90px;
    
    background: linear-gradient(180deg, #080525 23.96%, #2B2847 100%);
    border-radius: 34px;
    align-items: center;
}

#editdetails {
    position: absolute;
    width: 100%;
    top: 300px;
    font-family: 'Outfit';
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #BFBFBF;
}

#editnamebutton {
    position: absolute;
    width: 45px;
    height: 25px;
    left: 365px;
    box-sizing: border-box;
    flex-grow: 1;

    background: #4B4B4B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 80px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #F4F4F4;

    cursor: pointer;
}

#saveexitbuttons {
    position: absolute;
    width: 300px;
    height: 60px;
    top: 85%;
    left: 52%;

    display: flex;
    gap: 20px;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 45px;
    /* or 333% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#saveexit {
    box-sizing: border-box;

    flex-grow: 1;

    background: #2679A7;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    cursor: pointer;
}

#cancel {
    box-sizing: border-box;

    flex-grow: 1;

    background: #9797972f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    cursor: pointer;
}

#logoutbutton {
    position: absolute;
    width: 120px;
    top: 910px;     
    left: 18.5%;
    display: flex;
    gap: 20px;
    
    box-sizing: border-box;
    flex-grow: 1;

    background: #6B001A;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;

    line-height: 45px;

    color: #FFFFFF;

    cursor: pointer;
}

/* squad_page.html */

#squadbg {
    position: absolute;
    width: 841px;
    height: 611px;
    left: 69px;
    top: 137px;

    background: linear-gradient(180deg, #0F292F 5.73%, #501F3A 100%);
    border-radius: 10px;
}

#squadbanner {
    position: absolute;
    width: 841px;
    height: 91px;

    background: linear-gradient(179.53deg, #323232 0.41%, #FFFFFF 612.95%);
    border-radius: 10px;
}

#bannerlabel {
    position: absolute;
    width: 232px;
    height: 31px;
    left: 30px;
    top: 30px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#squadsettings {
    box-sizing: border-box;

    flex-grow: 1;

    position: absolute;
    width: 132px;
    height: 50px;
    left: 682px;
    top: 20px;
    
    background: #606060;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    line-height: 45px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
}

#joinrequests {
    box-sizing: border-box;

    flex-grow: 1;

    position: absolute;
    width: 200px;
    height: 50px;
    left: 470px;
    top: 20px;
    
    background: #2D55E3;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    line-height: 45px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
}

#squadmembers {
    position: absolute;
    width: 302px;
    height: 43px;
    left: 30px;
    top: 150px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    /* or 143% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#invitemembers {
    box-sizing: border-box;

    flex-grow: 1;

    position: absolute;
    width: 111px;
    height: 26px;
    left: 37px;
    top: 550px;
    
    background: #47A588;
    border-radius: 10px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    align-items: center;
    text-align: center;
    
    color: #F0F0F0;

    cursor: pointer;
}

#seeallmembers {
    box-sizing: border-box;

    flex-grow: 1;

    position: absolute;
    width: 111px;
    height: 26px;
    left: 175px;
    top: 550px;
    
    background: #2584B9;
    border-radius: 10px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    
    align-items: center;
    text-align: center;
    
    color: #F0F0F0;

    cursor: pointer;
}

#squadgamedetails {
    position: absolute;
    width: 302px;
    height: 43px;
    left: 421px;
    top: 170px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    /* or 143% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#chatbg {
    position: absolute;
    width: 468px;
    height: 100%;
    left: 105%;

    background: linear-gradient(180deg, #0F292F 5.73%, #5A2C46 85.42%);
    border-radius: 10px;
}

#chatbanner {
    position: absolute;
    width: 468px;
    height: 91px;

    background: linear-gradient(180deg, #444444 0%, #626262 100%);
    border-radius: 10px;
}