html,
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Outfit', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f5f5f500;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f518;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgba(122, 153, 217, 0.5)),
            color-stop(0.72, rgba(73, 125, 189, 0.5)),
            color-stop(0.86, rgba(28, 58, 148, 0.5)));
}

::-webkit-scrollbar-thumb:hover {
    width: 8px;
    border-radius: 8px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 153, 217)),
            color-stop(0.72, rgb(73, 125, 189)),
            color-stop(0.86, rgb(28, 58, 148)));
}

::-webkit-scrollbar-button:end:increment {
    height: 5%;
}

::-webkit-scrollbar-button:start:decrement {
    height: 5%;
}

header {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #0F292F 50%, rgba(20, 160, 152, 0) 155%);
}

#headertitle {
    position: absolute;
    width: 255px;
    height: 80px;
    left: 3%;
    top: 0px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 200px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#rightheader {
    position: absolute;
    width: 40%;
    max-width: 80%;
    height: 90px;
    right: 1%;
    top: 0px;

    display: flex;
    align-items: center;
    gap: 10px
}

#rightheader>div,
#rightheader>a {
    flex-grow: 1;
    align-items: center;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;

    color: #FFFFFF;
    cursor: pointer;
}

#rightheader>a {
    all: none;
    text-decoration: none;
}

#imgtop {
    position: absolute;
    width: 105%;
    height: 100%;
    left: -2%;
    top: 0px;
    z-index: -1;

    background: url(assets/game-development-academy-esports-player\ 1.jpg);
    background-position: top;
    background-blend-mode: overlay;
    /* background-size: contain; */
    background-repeat: repeat-y;
    background-size: 150%;
    filter: hue-rotate(20deg) saturate(70%) blur(8px) brightness(60%);
}

#bannertitle {
    position: absolute;
    width: 100%;
    height: 266px;
    left: 0px;
    top: 300px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 120px;

    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#bannersubtitle {
    position: absolute;
    width: 100%;
    height: 123px;
    left: 0;
    top: 541px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 80px;

    align-items: center;
    text-align: center;

    color: #F3F3F3;
}

#bannerbuttons {
    position: absolute;
    width: 20%;
    top: 700px;
    left: calc(40%);
    display: flex;
    gap: 20px;
    align-items: center;


}

#registerbutton {
    box-sizing: border-box;

    flex-grow: 1;

    background: #0F292F;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    line-height: 71px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;

    text-decoration: none;
}

#signinbutton {
    box-sizing: border-box;

    flex-grow: 1;

    background: #501F3A;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    line-height: 71px;
    align-items: center;
    text-align: center;

    color: #ffffff;

    cursor: pointer;

    text-decoration: none;
}

#imgbottom {
    position: absolute;
    width: 105%;
    height: 101%;
    left: -2%;
    top: 100%;
    z-index: -1;

    background: url(assets/esports-stocks\ 1.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    filter: hue-rotate(20deg) saturate(70%) blur(8px) brightness(60%);
}

#title2 {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0;
    top: 110%;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 100px;

    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#gamescarousel {
    position: absolute;
    width: 80%;
    height: 430px;
    left: 10%;
    top: 121%;

    display: flex;
    gap: 20px;
}

#gamescarousel>.card {
    flex-grow: 1;
    position: relative;
    border-radius: 8px;
}

.logo {
    position: absolute;
    width: 25%;
    height: 25%;
    left: 8%;
    top: 10%;
    box-sizing: border-box;
}

.card:nth-child(1)>.logo {
    background: url(assets/valologo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.card:nth-child(2)>.logo {
    background: url(assets/apexlogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.card:nth-child(3)>.logo {
    background: url(assets/dota2logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.cardimage {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    filter: brightness(40%) saturate(60%) blur(2px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.85);
}

.card:nth-child(1)>.cardimage {
    background: url(assets/valorantcard.jpg);
    background-size: cover;
    background-position: center;
}

.card:nth-child(2)>.cardimage {
    background: url(assets/apexcard.jpg);
    background-size: cover;
    background-position: center;
}

.card:nth-child(3)>.cardimage {
    background: url(assets/dota2card.jpg);
    background-size: cover;
    background-position: center;
}

.card>.label {
    position: absolute;
    left: 8%;
    top: 35%;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 100px;

    align-items: center;

    color: #FFFFFF;
}

.playbutton {
    box-sizing: border-box;

    position: absolute;
    width: 120px;
    height: 40px;
    left: 8%;
    top: 60%;

    background: #0F292F;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;

    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#moregamesbutton {

    position: absolute;
    width: 180px;
    height: 40px;
    top: 170%;
    left: calc(50% - 200px/2 + 2.5px);

    background: #501f3aec;
    border: 0.5px solid #ffffff60;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;

    align-items: center;
    text-align: center;
    margin: auto;

    color: #ffffffb7;
}

#stickybottom {

    position: fixed;
    width: 100%;
    height: 138px;
    left: 0px;
    bottom: 0;

    pointer-events: none;

    background: linear-gradient(360deg, rgba(137, 233, 105, 0.137) 3.95%, rgba(51, 152, 209, 0) 100%);
}

/* register.html */
#registerbox {
    position: absolute;
    left: 33.61%;
    right: 33.61%;
    top: 10%;

    background: #EFEFEF;
    mix-blend-mode: normal;
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    padding: 10px 30px 30px 30px;
    overflow: hidden;
}

#registerbox>* {
    flex-grow: 1;
    overflow: hidden;
}

#registertitle {

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;

    color: #000000;
}

.inputbox {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.inputbox>.label {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #575757;
    margin: 0;
    padding: 0;
    flex-grow: 0;
}

.inputbox>input {
    box-sizing: border-box;
    flex-grow: 1;
    background: #FFFFFF;

    border: 2px solid #AAAAAA;
    border-radius: 4px;
    min-height: 40px;
}

.inputbox input[type=file] {
    box-sizing: border-box;
    flex-grow: 1;
    background: none;
    border: none;

    border-radius: 4px;
    min-height: 40px;
}

.inputbox a {
    content: Current Picture;
}


#registersubmit {
    box-sizing: border-box;
    flex-grow: 0;
    height: 60px;
    margin: 15px 0 20px 0;

    background: #00A02D;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    line-height: 55px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#alreadyaccount {
    flex-grow: 0;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    text-align: center;

    color: #000000;
}

#registerbox #backbutton {
    text-align: center;

    font-size: 16px;
    margin-top: 10px;
}


/* signin.html */

#signinsubmit {
    box-sizing: border-box;
    flex-grow: 0;
    height: 60px;
    margin: 15px 0 20px 0;

    background: #00A02D;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    line-height: 55px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#noaccount {
    flex-grow: 0;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    text-align: center;

    color: #000000;
}

/* view_profile.html */
#custombg {
    position: absolute;
    width: 105%;
    height: 105%;
    left: -2%;

    z-index: -1;

    background: linear-gradient(180deg, #2C2F33 0%, #CB2D6F 210.74%);
    background-blend-mode: overlay;
    background-size: cover;
}

#wrapper1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 1066px;
    height: 860px;
    left: calc(50% - 1066px/2 + 3px);
    top: 124px;

}

#profilebg {

    width: 435px;
    height: 860px;

    background: linear-gradient(180deg, #080525 23.96%, #2B2847 100%);
    border-radius: 34px;
}


#profilecover {

    position: absolute;
    width: 435px;
    height: 215px;
    left: calc(50% - 435px/2 - 315.5px);
    top: 0px;

    background: linear-gradient(180deg, #002A3C 0%, #005E86 100%);
    background-size: cover;
    background-position: center;
    border-radius: 34px;
}

#profilepic {
    position: absolute;
    width: 167px;
    height: 167px;
    left: calc(50% - 167px/2 - 315.5px);
    top: 107px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

#profilepic img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 4px double white;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#profilename {

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 80px;

    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#addfriend {
    box-sizing: border-box;
    flex-grow: 1;

    background: #44AA15;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    line-height: 45px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
}

#message {

    box-sizing: border-box;
    flex-grow: 1;

    background: #2584B9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;

    align-items: center;
    text-align: center;

    color: #ffffff;

    cursor: pointer;
}

#profilegame {
    position: relative;
    width: 615px;
    height: 486px;

    flex: none;
    order: 0;
    flex-grow: 0;

    background: linear-gradient(180deg, #080525 23.96%, #2B2847 100%);
    border-radius: 34px;
}

#profilegamename {
    position: absolute;
    width: 372px;
    height: 36px;
    left: calc(50% - 372px/2 - 79.5px);
    top: 36px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;

    color: #FFFFFF;
}

#profilegame>#photo>* {
    position: absolute;
    width: 198px;
    height: 319.2px;
    left: calc(50% - 198px/2 - 163.5px);
    top: 103px;

    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

#valogamephoto {
    background: url(assets/516575-285x380.jpg);
}

#apexgamephoto {

    background: url(assets/apex.jpg);
}

#dotagamephoto {
    background: url(assets/dota2card.jpg);
}

#lolgamephoto {
    background: url(assets/lol.jpg);
}

#mlbbgamephoto {
    background: url(assets/mlbb.jpg);
}

#pokegamephoto {
    background: url(assets/pkmn.jpg);
}

#csgogamephoto {
    background: url(assets/csgo.jpg);
}

#wofwgamephoto {
    background: url(assets/wow.jpg);
}

#usernamerank {
    position: absolute;
    width: 288px;
    height: 120px;
    left: calc(50% - 288px/2 + 121.5px);
    top: 103.2px;

    width: 288px;
    height: 120px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 50px;

    color: #FFFFFF;
}

#userdesc {
    width: 301px;
    height: 250.8px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #D1D1D1;
}

#profilebg>#settingsbutton {
    position: absolute;
    width: auto;
    height: 29px;
    left: 21px;
    top: 14px;
    padding: 0 10px 0 10px;

    box-sizing: border-box;
    flex-grow: 1;

    background: #E3B02D;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    justify-content: center;

    line-height: 28px;

    color: #FFFFFF;

    cursor: pointer;
}

#wrapper1 #detailsleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 5px;
    isolation: isolate;

    position: absolute;
    width: 435px;
    height: 521px;
    left: calc(50% - 435px/2 - 315.5px);
    top: 286px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;

    text-align: center;

    color: #FFFFFF;
}

#wrapper1 #detailsleft>* {
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 4;
    margin: 0;
}

#wrapper1 #detailsleft>p {
    padding: 0 20px 0 20px;
}

#wrapper1 #wrapperbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 31px;

    width: 391px;
    height: 45px;
}

#wrapper1 #wrapperright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 28px;

    width: 615px;
    height: 771px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#profilebuttons {
    position: absolute;
    width: 80%;
    top: 65%;
    left: calc(10%);
    display: flex;
    gap: 20px;
    align-items: center;
}

#moregamesbg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 26px 31px;
    gap: 14px;

    width: 100%;
    height: 262px;

    flex: none;
    order: 0;
    flex-grow: 0;

    background: linear-gradient(180deg, #080525 23.96%, #2B2847 100%);
    border-radius: 34px;
}

#moregames {
    width: 266px;
    height: 36px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

#moregamesbg>#moregamesphoto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 564px;
    height: 144px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}



#moregamesbg>#moregamesphoto>div {
    width: 97px;
    height: 144px;
    border-radius: 10px;
}

#gamephoto {

    background: url(assets/valorant.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#gamephoto1 {

    background: url(assets/apex.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#gamephoto2 {
    background: url(assets/csgo.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#gamephoto3 {

    background: url(assets/fortnite.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#gamephoto4 {
    background: url(assets/lol.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


/* edit_profile.html */

#editbg {
    background: linear-gradient(180deg, #080525 23.96%, #2B2847 100%);
    border-radius: 34px;
    align-items: center;
}

#editdetails {
    width: 100%;
    top: 300px;
    font-family: 'Outfit';
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #BFBFBF;
}

#editnamebutton {
    width: 45px;
    height: 25px;
    box-sizing: border-box;
    flex-grow: 1;

    background: #4B4B4B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #F4F4F4;

    cursor: pointer;
}

#saveexitbuttons {
    width: 300px;
    height: 60px;

    display: flex;
    gap: 20px;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 45px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#saveexit {
    box-sizing: border-box;

    flex-grow: 1;

    background: #2679A7;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    cursor: pointer;
}

#cancel {
    box-sizing: border-box;

    flex-grow: 1;

    background: #9797972f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    cursor: pointer;
}

#logoutbutton {
    position: fixed;
    width: 120px;
    bottom: 5%;
    right: 5%;

    box-sizing: border-box;
    flex-grow: 1;

    background: #6B001A;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;

    line-height: 45px;

    color: #FFFFFF;

    cursor: pointer;
}

#logoutbutton>a,
#logoutbutton>a:visited {
    all: none;
    text-decoration: none;

    color: #FFFFFF;
}


/* squad_page.html */

#squadpage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 23px;

    position: absolute;
    width: 70%;
    height: 80%;
    left: calc(50% - 70%/2 + 0.5px);
    top: calc(50% - 80%/2 + 80px/2 - 10px);
}

#squadbox {
    display: flex;
    flex-direction: column;

    position: relative;
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #0F292F 10.94%, #292F3F 89.06%);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    border-radius: 10px;
}

#squadpage #squadheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 20px;
    gap: 99px;
    isolation: isolate;

    position: absolute;
    height: 90px;
    left: 0%;
    right: 0%;
    top: 0px;

    background: linear-gradient(179.53deg, #323232 0.41%, #FFFFFF 612.95%);
    border-radius: 10px;
}

#squadpage #squadtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;

    width: 314px;
    height: 64px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

#squadpage #squadtitle #icon {
    width: 64px;
    height: 64px;

    border-radius: 50%;

    flex: none;
    order: 0;
    flex-grow: 0;

    border: 2px double gray;
}

#squadpage #squadtitle #icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

#squadpage #squadtitle h1 {
    width: 232px;
    height: 31px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    /* or 114% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#squadpage #squadbuttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 21px;

    position: absolute;
    width: 293.71px;
    height: 33.88px;
    right: 24.29px;
    top: calc(50% - 33.88px/2);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

#squadpage #squadbuttons #customize {
    width: 140px;
    height: 33.13px;

    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #FFFFFF;

    background: #2D55E3;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#squadpage #squadbuttons #settings {
    width: 132.71px;
    height: 33.88px;

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 80px;
    /* or 500% */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #FFFFFF;

    background: #606060;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#squadpage #squadcontent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 24px 0 24px;
    gap: 35px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 13%;
    bottom: 0%;
}

#squadpage #members {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    isolation: isolate;

    position: relative;
    width: 30%;
    height: 100%;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#squadpage #members h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    margin: 0;

    display: flex;
    align-items: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

#squadpage #members #memberlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    isolation: isolate;

    position: relative;
    width: 100%;
    height: 20%;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

    overflow: auto;
    border-radius: 20px;
}

#squadpage #members .member {
    position: relative;
    width: 100%;
    height: 150px;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

    background: linear-gradient(360deg, rgba(174, 56, 253, 0.356) 3.95%, rgba(51, 152, 209, 0) 100%);

    mix-blend-mode: normal;
    border-radius: 20px;
}

#squadpage #members .member .photo {
    position: absolute;
    height: 65%;
    aspect-ratio: 1/1;
    left: 3%;
    top: 0;

    background: url(FW2WqsSVEAAAfKj.jpg);
    border-radius: 20px;
    border: 1px dotted gray;
}

#squadpage #members .member .username {
    position: absolute;
    height: 24px;
    left: 3%;
    bottom: 10px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 80px;
    /* or 533% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#squadpage #members .member .settings {
    position: absolute;
    height: 18px;
    right: 5.84%;
    top: 5px;
}

#squadpage #members .member .addfriend {
    position: absolute;
    width: 65px;
    height: 17px;
    right: 10px;
    bottom: 10px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;

    text-align: center;

    color: #1A1A1A;

    background: #8AE969;
    border-radius: 10px;
}

#squadpage #members #invitebar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 100%;
    height: 33px;
    left: 0;
    bottom: 10px;

    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 4;
}

#squadpage #members #invitebar #invitename {
    box-sizing: border-box;

    height: 33px;
    padding-left: 5px;

    background: #FFFFFF;

    border: 2px solid #AAAAAA;
    border-radius: 4px;

    flex: 1 1;
    order: 0;
    flex-grow: 1;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;

    color: #111111;

}

#squadpage #members #invitebar #invitename {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

#squadpage #members #invitebar #invitebutton {
    width: 73px;
    height: 30px;

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;

    text-align: center;

    color: #F0F0F0;

    background: #47A588;
    border-radius: 10px;
}

#squadpage #squaddetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    height: 80%;

    position: relative;

    flex: 0;
    order: 1;
    flex-grow: 1;
}

#squadpage #squaddetails h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    margin: 0;

    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#squadpage #squaddetails #banner {
    width: 100%;
    height: 40%;

    object-fit: cover;
    object-position: center;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    border-radius: 5px;
}

#squadpage #squaddetails #specificdetails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    column-gap: 150px;

    width: 100%;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#squadpage #squaddetails #specificdetails p {
    width: fit-content;
    order: 0;
    margin: 0;
}


#squadpage #squaddetails #description {
    position: relative;
    width: 100%;
    height: 112.12px;

    flex: none;
    order: 3;
    flex-grow: 0;

}

#squadpage #squaddetails #description h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#squadpage #squaddetails #description p {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #D1D1D1;
}

#squadpage #readygroup {
    display: flex;
    position: absolute;
    text-align: center;
    bottom: 10px;
    right: 10px;
    flex-direction: column;
    align-items: center;
}


#squadpage #readygroup #readybutton {
    width: 120px;
    height: 35px;

    background: #8AE969;
    border-radius: 10px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 1000;
    font-size: 18px;
    line-height: 33px;

    text-align: center;

    color: #000000;
}

#squadpage #readygroup p {
    position: relative;
    width: max-content;
    top: 3px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;

    text-align: center;

    color: #bfbfbfb6;
    padding: 0;
    margin: 0;
}

/* #squadpage #chatbox {
    position: absolute;
    width: 468px;
    height: 690px;

    background: linear-gradient(180deg, rgba(39, 47, 62, 0.942708) 15.62%, rgba(15, 41, 47, 0.942708) 92.19%);

    flex: none;
    order: 1;
    flex-grow: 0;
}

#squadpage #chatbox #chatheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    position: absolute;
    height: 90px;
    left: 0%;
    right: 0%;
    top: 0px;

    background: linear-gradient(180deg, #444444 0%, #626262 100%);
    border-radius: 10px;
}

#squadpage #chatbox #chatheader h2 {
    width: 232px;
    height: 31px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;

    display: flex;
    align-items: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#squadpage #chatbox #chatheader #membericons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 11px;

    width: 169px;
    height: 34px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#squadpage #chatbox #chatheader #membericons .membericon {
    width: 34px;
    height: 34px;

    background: url(png-clipart-three-red-and-one-blue-dice-illustration-dice-euclidean-adobe-illustrator-dice-happy-birthday-vector-images-data);
    border: 2px solid #7A8194;
    filter: drop-shadow(4px 4px 24px rgba(0, 0, 0, 0.45));
    border-radius: 30px;


    flex: none;
    order: 1;
    flex-grow: 0;
}

#squadpage #chatlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 11px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 14.89%;
    bottom: 12.11%;

    background: linear-gradient(180deg, rgba(19, 15, 64, 0.942708) 5.73%, #292F3F 85.42%);
    border-radius: 10px;
}

#squadpage #chatlog .time {
    width: 74px;
    height: 17px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#squadpage #chatlog .chatbubbleme {
    width: 365px;
    height: 60px;


    flex: none;
    order: 1;
    flex-grow: 0;
}

#squadpage #chatlog .chatbubbleme .chatmessage {
    position: absolute;
    width: 324px;
    left: 51.5px;
    top: 8.54%;
    bottom: 79.55%;

    background: #373E4E;
    border-radius: 20px;


    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;

    color: #FFFFFF;
}

#squadpage #chatlog .chatbubbleme .icon {
    position: absolute;
    width: 36px;
    left: 380.5px;
    top: 10.92%;
    bottom: 81.93%;

    background: url(FSiFMo-VgAAM_nz);
    border: 1px solid #FFFFFF;
    filter: drop-shadow(4px 4px 24px rgba(0, 0, 0, 0.45));
    border-radius: 30px;
}

#squadpage #chatlog .chatbubbleother {
    width: 356px;
    height: 50px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

#squadpage #chatlog .chatbubbleother .message {
    position: absolute;
    width: 311px;
    height: 50px;
    left: 101px;
    top: 114px;

    background: #272A35;
    border-radius: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 1px;

    color: #FFFFFF;
}

#squadpage #chatlog .chatbubbleother .icon {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 56px;
    top: 121px;

    background: url(FW2WqsSVEAAAfKj.jpg);
    border: 1px solid #FFFFFF;
    filter: drop-shadow(4px 4px 24px rgba(0, 0, 0, 0.45));
    border-radius: 30px;
}

#squadpage #typebox {
    position: absolute;
    width: 415px;
    height: 45.17px;
    left: 28px;
    top: 606.43px;

    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#squadpage #typeinput {
    position: absolute;
    left: 10.75%;
    right: 42.91%;
    top: 89.53%;
    bottom: 7.53%;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;

    color: rgba(255, 255, 255, 0.6);
}

#squadpage #chaticon {
    position: absolute;
    width: 60.36px;
    height: 45.17px;
    left: 382.64px;
    top: 606.43px;

    background: rgba(255, 255, 255, 0.55);
    border-radius: 4px;
} */

/* create_squad.html */

#createsquad,
#createsquad * {
    margin: 0;
    padding: 0;
}


#createsquad {
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#createsquad h1 {
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    margin: 10px 0 5px 0;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#createsquad #box {
    position: relative;
    width: 80%;
    max-width: 1200px;
    min-width: 800px;
    top: 20px;
    background: linear-gradient(180deg, #0F292F 0%, #292F3F 100%);
    border-radius: 34px;
    padding: 25px;
}

#createsquad h2 {
    margin: 0 0 10px 0;
}


#createsquad #gamesscroll {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;

    padding: 10px 30px 10px 30px;


    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;

    overflow-x: scroll;

}

#createsquad .gameoption {
    flex: 1 1;

    min-width: 180px;
    position: relative;
}

#createsquad .gameoption img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 20px;

    filter: blur(1px) saturate(0.3);
    -webkit-filter: blur(1px) saturate(0.3);
}

#createsquad .gameoption h3 {
    position: absolute;

    top: 50%;
    left: 50%;
    text-align: center;
    text-shadow: 2px 2px #0000006e;

    transform: translate(-50%, -50%);
}

#createsquad #line {
    background-color: rgba(167, 167, 167, 0.562);
    width: auto;
    height: 1px;
    margin: 30px;
    border: none;
}

#createsquad #details {
    position: relative;
    top: 10px;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    width: 100%;
    gap: 10px 50px;

    padding: 0 20px 10px 20px;
    margin: 0;
}

#createsquad .detail {
    position: relative;
    min-width: 200px;
    flex: 1;
}

#createsquad .detail .checkbox {
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    color: #b8b8b8;
    accent-color: #413474;
}

#createsquad .detail .checkbox * {
    flex: none;
    margin-left: 10px;
}

#createsquad .detail select {
    width: 100%;
    border-radius: 5px;
    background-color: #b8b8b8;
}

#createsquad a {
    color: inherit;
    text-decoration: inherit;
    all: inherit;
}

#createsquad #box>p {
    font-weight: 100;
    font-size: 10px;
    margin: 50px 0 0 0;
    font-family: 'Outfit';
    font-style: normal;
    font-size: 10px;
    color: #b3b3b3;
}

#createsquad #createbutton {
    position: absolute;
    bottom: 25px;
    right: 30px;

    width: 120px;
    height: 35px;

    background: #8AE969;
    border-radius: 10px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;

    color: #1A1A1A;
}

#createsquad #createbutton:hover {
    background: #61c73f;
}


/* edit_squad.html */


#editsquad {
    height: calc(90% - 60px);
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5%;

    position: absolute;
    top: 120px;

    padding: 0 20% 0 20%;

    color: white;
}

#editsquad #squaddetails {
    flex: 1 0 20%;

    background: linear-gradient(180deg, #0F292F 5.73%, #292F3F 85.42%);
    border-radius: 10px;

    text-align: center;
    padding: 10px;
}

#editsquad h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin: 10px 0 10px 0;

    text-align: center;

    color: #FFFFFF;
}

#editsquad #managemembers {
    flex: 1 0 20%;

    text-align: center;

    background: linear-gradient(180deg, #0F292F 5.73%, #292F3F 85.42%);
    border-radius: 10px;
    padding: 10px;
}

#editsquad #buttons {
    text-align: center;
    position: relative;
    align-self: flex-end;
}

#editsquad #buttons a {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;

    color: #F4F4F4;

    text-decoration: none;
}

#editsquad #buttons button {
    width: 120px;
    height: 50px;

    background: #2679A7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    color: #F4F4F4;
}


#editsquad #details {
    position: relative;
    height: calc(80% - 50px);

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;

    gap: 10px 50px;

    padding: 0 20px 0px 20px;
    margin: 0;

    font-size: 14px;
}

#editsquad .detail {
    position: relative;
    min-width: 200px;
    flex: 1;
    text-align: left;
}

#editsquad .detail label {
    font-size: 16px;
}

#editsquad .detail .checkbox {
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    accent-color: #413474;
}

#editsquad .detail .checkbox * {
    flex: none;
    margin-left: 10px;
}

#editsquad .detail select {
    width: auto;
    border-radius: 5px;
}

#editsquad .detail textarea,
#editsquad .detail input[type=text] {
    width: 100%;
    border-radius: 5px;
}

#editsquad #members {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    gap: 10px;
    isolation: isolate;

    position: relative;
    width: 100%;
    height: calc(100% - 100px);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

    overflow: auto;
    border-radius: 20px;
}

#editsquad #members .member {
    position: relative;
    width: calc(50% - 5px);
    height: 150px;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

    background: linear-gradient(360deg, rgba(174, 56, 253, 0.356) 3.95%, rgba(51, 152, 209, 0) 100%);

    mix-blend-mode: normal;
    border-radius: 20px;
}

#editsquad #members .member .photo {
    position: absolute;
    height: 65%;
    aspect-ratio: 1/1;
    left: 10px;
    top: 0;

    background: url(FW2WqsSVEAAAfKj.jpg);
    border-radius: 20px;
    border: 1px dotted gray;
}

#editsquad #members .member .username {
    position: absolute;
    left: 15px;
    bottom: 10px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#editsquad #members .member .settings {
    position: absolute;
    height: 18px;
    right: 5.84%;
    top: 5px;
}

#editsquad #members .member .addfriend {
    position: absolute;
    width: 65px;
    height: 17px;
    right: 10px;
    bottom: 10px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;

    text-align: center;

    color: #1A1A1A;

    background: #8AE969;
    border-radius: 10px;
}

#editsquad #members .member .accept {
    position: absolute;
    height: 15px;
    right: 45px;
    bottom: 13px;
}

#editsquad #members .member .reject {
    position: absolute;
    height: 15px;
    right: 10px;
    bottom: 13px;
}


/* lobby_list.html */


#lobbylist {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    height: calc(100% - 150px);
}

#lobbylist h1 {
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    margin: 0px 0 5px 0;

    color: #FFFFFF;
    flex: none;
}

#lobbylist #box {
    position: relative;
    width: 80%;
    max-width: 1200px;
    min-width: 800px;
    background: linear-gradient(180deg, #0F292F 0%, #292F3F 100%);
    border-radius: 34px;
    padding: 25px;

    max-height: calc(100% - 80px);

    flex: none;
    overflow-y: auto;
}

#lobbylist ul {
    color: #FFFFFF;
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    height: auto;

    margin: 0;
}

#lobbylist a {
    padding: 0px;
    margin: 0px;
    color: inherit;
    text-decoration: inherit;
    margin: 0 0 20px 0;
    background: linear-gradient(140deg, #58a2b3 0%, #a31d8d 100%);
    border-radius: 34px;
    padding: 25px;

    width: auto;
    height: auto;
    display: block;
}

#lobbylist li {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    width: 100%;
    margin: 0;
}

#lobbylist li>div {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#lobbylist h3 {
    margin: 0;
    text-align: center;
}

#lobbylist .left {
    text-align: center;
}

#lobbylist .left>* {
    align-self: center;
}

#createsquadbutton {
    position: fixed;
    width: 200px;
    bottom: 5%;
    right: 5%;

    box-sizing: border-box;
    flex-grow: 1;

    background: #0e7097;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;

    line-height: 45px;

    color: #FFFFFF;

    cursor: pointer;
}

#createsquadbutton>a,
#createsquadbutton>a:visited {
    all: none;
    text-decoration: none;

    color: #FFFFFF;
}