{% extends 'base.html' %}

{% block title %}Create Squad{% endblock %}

{% load static %}
{% block content %}
<form method="post" enctype="multipart/form-data">

    {% csrf_token %}
    <div id="custombg"></div>
    <div id="createsquad">
        <h1>Squad Creation</h1>
        {{ user_forms.non_field_errors }}
        {{ user_add_form.non_field_errors }}
        <div id="box">
            <h2>Choose your game:</h2>
            <div id="gamesscroll">
                <div class="gameoption">
                    <img src="{% static 'assets\valorantcard.jpg' %}" alt="">
                    <h3>Valorant</h3>
                </div>
                <div class="gameoption">
                    <img src="{% static 'assets\apexcard.jpg' %}" alt="">
                    <h3>Apex Legends</h3>
                </div>
                <div class="gameoption">
                    <img src="{% static 'assets\dota2card.jpg' %}" alt="">
                    <h3>DOTA 2</h3>
                </div>
                <div class="gameoption">
                    <img src="{% static 'assets\lolcard.jpg' %}" alt="">
                    <h3>League of Legends</h3>
                </div>
                <div class="gameoption">
                    <img src="{% static 'assets\mlcard.jpg' %}" alt="">
                    <h3>Mobile Legends</h3>
                </div>
                <div class="gameoption">
                    <img src="{% static 'assets\pokemonunitecard.jpg' %}" alt="">
                    <h3>Pokémon Unite</h3>
                </div>
                <div class="gameoption">
                    <img src="{% static 'assets\csgocard.jpg' %}" alt="">
                    <h3>Counter-Strike: Global Offensive</h3>
                </div>
                <div class="gameoption">
                    <img src="{% static 'assets\wowcard.jpg' %}" alt="">
                    <h3>World of Warcraft</h3>
                </div>
            </div>

            <div id="line"></div>


            <h2>Squad details:</h2>
            <div id="details">

                <div class="detail">
                    {{ form.squad_name.errors }}
                    <Label>Squad Name</Label><br>
                    {{ form.squad_name }}
                </div>
                <div class="detail">
                    {{ form.description.errors }}
                    <Label>Description</Label><br>
                    {{ form.description }}
                </div>
                <div class="detail">
                    {{ form.photo.errors }}
                    <Label>Squad Photo</Label><br>
                    {{ form.photo }}
                </div>
                <div class="detail">
                    {{ form.platforms.errors }}
                    <Label>Platforms</Label><br>
                    {{ form.platforms }}
                </div>
                <div class="detail">
                    {{ form.game.errors }}
                    <Label>Game</Label><br>
                    {{ form.game }}
                </div>
                <div class="detail">
                    {{ form.region.errors }}
                    <Label>Region</Label><br>
                    {{ form.region }}
                </div>
                <div class="detail">
                    {{ form.rank_lower_bound.errors }}
                    <Label>Lowest Rank</Label><br>
                    {{ form.rank_lower_bound }}
                    <br>
                    {{ form.rank_upper_bound.errors }}
                    <Label>Highest Rank</Label><br>
                    {{ form.rank_upper_bound }}
                </div>
                <div class="detail">
                    {{ form.languages.errors }}
                    <Label>Languages</Label><br>
                    {{ form.languages }}
                </div>
                <div class="detail">
                    {{ form.squad_size.errors }}
                    <Label>Squad Size</Label><br>
                    {{ form.squad_size }}
                </div>

                <!-- <div class="detail">
                <Label>Game mode</Label><br>
                <select name="Game mode" id="">
                    <option value="" disabled selected hidden>...</option>
                    <option value="">Competitive</option>
                </select>
            </div>
            <div class="detail">
                <Label>Rank</Label><br>
                <select name="" id="">
                    <option value="" disabled selected hidden>...</option>
                </select>
            </div>
            <div class="detail">
                <Label>Platform</Label><br>
                <div class="checkbox">
                    <input type="checkbox" name="en" id="en" value="English">PC
                    <input type="checkbox" name="ph" id="ph" value="Filipino">Console
                    <input type="checkbox" name="en" id="en" value="English">XBox
                </div>
            </div>
            <div class="detail">
                <Label>Server</Label><br>
                <select name="" id="">
                    <option value="" disabled selected hidden>...</option>
                </select>
            </div>
            <div class="detail">
                <Label>Language</Label><br>
                <div class="checkbox">
                    <input type="checkbox" name="en" id="en" value="English">English
                    <input type="checkbox" name="ph" id="ph" value="Filipino">Filipino
                    <input type="checkbox" name="en" id="en" value="English">English
                    <input type="checkbox" name="ph" id="ph" value="Filipino">Filipino
                    <input type="checkbox" name="en" id="en" value="English">English
                    <input type="checkbox" name="ph" id="ph" value="Filipino">Filipino
                </div>
            </div>
            <div class="detail">
                <Label>Lobby Size</Label><br>
                <select name="" id="">
                    <option value="" disabled selected hidden>...</option>
                </select>
            </div>
            <div class="detail">
                <Label>Competitiveness</Label><br>
                <select name="" id="">
                    <option value="" disabled selected hidden>...</option>
                </select>
            </div> -->
            </div>
            <p><a href="">Click here for more details regarding squad details.</a></p>

            <button id="createbutton" type="submit">Create Squad</button>
        </div>

    </div>

</form>
{% endblock %}