{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="imgtop"></div>
<div id="bannertitle">Tired of playing alone?<br>Join SquadLink!</div>
<div id="bannersubtitle">Find friends to play with. Find your Squad.</div>

<div id="bannerbuttons">
    {% if not user.is_authenticated %}
    <a href="{% url 'UserProfile:register' %}" id="registerbutton">
        Register
    </a>
    <a href="{% url 'UserProfile:sign-in' %}" id="signinbutton">
        Sign In
    </a>
    {% else %}
    <a href="{% url 'UserProfile:view-profile' %}" id="signinbutton">
        View Profile
    </a>
    {% endif %}
</div>


<div id="imgbottom"></div>
<div id="title2">Dominate the battlefield together.</div>

<div id="gamescarousel">
    <div class="card">
        <div class="cardimage"></div>
        <div class="logo"></div>
        <div class="label">Valorant</div>
        <a class="playbutton" href="{% url 'SquadLobby:lobby-search' %}">Play Now</a>
    </div>
    <div class="card">
        <div class="cardimage"></div>
        <div class="logo"></div>
        <div class="label">Apex Legends</div>
        <a class="playbutton" href="{% url 'SquadLobby:lobby-search' %}">Play Now</a>
    </div>
    <div class="card">
        <div class="cardimage"></div>
        <div class="logo"></div>
        <div class="label">DOTA 2</div>
        <a class="playbutton" href="{% url 'SquadLobby:lobby-search' %}">Play Now</a>
    </div>
</div>

<div id="moregamesbutton">More games</div>

{% endblock %}