{% extends 'base.html' %}

{% block title %}Squad Search{% endblock %}

{% load static %}
{% block content %}

<div id="custombg"></div>

<div id="lobbysearch">
    <h1>Search Squad</h1>
    {% comment %} <div class="container">
        <form method="post" enctype="multipart/form-data" class="searchbar">
            {% csrf_token %}
            <input type="text" placeholder="Search for squad names" name="q">
            <button type="submit" id="invitebutton">Search</button>
        </form>
    </div> {% endcomment %}

    <div id="box">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ search_form.as_div }}

            <div id="details">
                {{ form.squad_name.errors }}
                <Label>Squad Name</Label><br>
                {{ form.squad_name }}
            </div>

            <button type="submit" id="searchbutton">
                Search
            </button>
        </form>
    </div>
</div>

<div id="createsquadbutton"><a href="{% url 'SquadLobby:lobby-create' %}">Create Squad</a></div>

{% endblock %}