{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}

<div id="imgtop"></div>

<form method="post">
    {% csrf_token %}
    <div id="registerbox">
        {{ form.non_field_errors }}
        <h2 id="registertitle">Sign in to your account</h2>
        <div class="inputbox">
            {{ form.username.errors }}
            <p class="label">Username</p>
            {{ form.username }}
            <!-- <input type="email" name="email" id="signinemail"> -->
        </div>
        <div class="inputbox">
            {{ form.password.errors }}
            <p class="label">Password</p>
            {{ form.username }}
            <!-- <input type="password" name="password" id="signinpassword"> -->
        </div>

        <button type="submit" id="signinsubmit">Log In</button>
</form>
<div id="noaccount">Don't have an account? <a href="{% url 'UserProfile:register' %}">Register</a></div>

</div>

{% endblock %}