<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap');
    </style>

    <link rel="stylesheet" href="style.css">
    <title>SquadLink | Squad Page</title>
</head>

<body>

    <header>
        <div id="headertitle">SquadLink</div>
        <div id="rightheader">
            <div onclick="location.href='home.html'">Home</div>
            <div>About</div>
            <div onclick="location.href='profile.html'">Account</div>
        </div>
    </header>
    <div id="imgtop"></div>

    <div id="squadbg">
        <div id="squadbanner"></div>
        <div id="bannerlabel">Test Squad</div>
        <div id="joinrequests">Join Requests</div>
        <div id="squadsettings">Settings</div>
        <div id="squadmembers">Members:<br>Test#123<br>Test#1234</div>
        <div id="invitemembers">Invite Members</div>
        <!-- <div id="seeallmembers">See All Members</div> -->
        <div id="squadgamedetails">
            Game:<br>
            Rank Range:<br>
            Region:<br>
            Platform:<br>
        </div>
        <div id="chatbg">
            <div id="chatbanner">
                <div id="bannerlabel">Chat</div>
            </div>
        </div>
    </div>

</body>

</html>